{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "exampleGlobalVariable": true
  },
  "rules": {
    //enable ESLint rules, such as
    "eqeqeq": 1
  },
  "plugins": [
    //you can put plugins here
  ]
}